@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Share+Tech&display=swap');

body {
    margin:0;
    padding:0;
    background-color: rgb(14, 0, 81);
    color: white;
    font-family: "Share Tech", sans-serif;
    font-size: 25px;
    text-align: center;
}

h1 {
    margin-bottom: -20px;
    font-size: 7rem;
    text-align: center;
    color: rgb(255, 221, 0);
    background-color: rgb(14, 0, 81);
    font-family: "Share Tech", sans-serif;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: rgb(255, 221, 0);
    font-family: "Share Tech", sans-serif;
}

.descricao {
    font-size: 25px;
    text-align: center;
    color: white;
    margin-top: -30px;
    margin-bottom: 50px;
}

.button1 {
    color: rgb(255, 221, 0); 
    margin-top: 50px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.button2 {
    color: rgb(255, 221, 0);
    margin-top: 50px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.button3 {
    color: rgb(255, 221, 0);
    margin-top: 50px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: wavy;
    background-color: rgb(255, 221, 0);
    color: rgb(14, 0, 81);
}