@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    background-color: rgba( 39, 39, 39, 0.946);
}

#nome-jogador {
    z-index: 10;
    position: relative;
    top: 100px;
    left:80px;
    font-size: 30px;
    color: white;
    width: 550px;
    height: 300px;
    padding-top: 10px;
    padding-left: 7px;
    border-radius: 30px;
    font-family: "Luckiest Guy";
}

#Golem {
    z-index: 10;
    position: absolute;
    margin-top: 30px;
    margin-left: 140px;
    width: 45%;
    height: 70%;
}

#nome-vilao{
    z-index: 10;
    position: absolute;
    top: 110px;
    left: 850px;
    font-size: 30px;
    color: white;
    width: 550px;
    height: 300px;
    padding-top: 10px;
    padding-left: 7px;
    font-family: "Luckiest Guy";
}

#Pekka {
    z-index: 10;
    margin-top: 0px;
    margin-left: 320px;
    width: 40%;
    height: 50%;
}

#Fundo {
    z-index: 0;
    position: absolute;
    margin-top: -210px;
    margin-left: 840px;
    width: 37%;
    height: 44%;
    border-radius: 30px;
}

#Fundo-Jogador {
    z-index: 0;
    position: absolute;
    margin-top: -210px;
    margin-left: 80px;
    width: 37%;
    height: 42%;
    border-radius: 30px;
}

#attack{
    margin-top: -130px;
    width: 100px;
    height: 50px;
    font-family: Luckiest Guy;
    font-size: 20px;
    color: white;
    background-color: blue;
    border-radius: 30px;
    border: 3px solid;
    border-color: black;
}

#defence{
    margin-bottom: -200px;
    width: 100px;
    height: 50px;
    font-family: Luckiest Guy;
    font-size: 20px;
    color: white;
    background-color: blue;
    border-radius: 30px;
    border: 3px solid;
    border-color: black;
}

.vida_jogador {
    z-index: 10;
    position: absolute;
    margin-top: -45px;
    font-family: Luckiest Guy;
    font-size: 30px;
    border: 5px solid;  
    border-color: black;
    background-color: rgb(0, 255, 55);
    border-radius: 30px;
    width: 330px;
    height: 45px;
    margin-left: 220px;
}

.vida_golem {
    z-index: 10;
    position: absolute;
    margin-top: 250px;
    font-family: Luckiest Guy;
    font-size: 30px;
    border: 5px solid;  
    border-color: black;
    background-color: rgb(0, 255, 55);
    border-radius: 30px;
    width: 350px;
    height: 45px;
    margin-left: 100px;
}