@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Share+Tech&display=swap');

#tela_inicial {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 0%;
}

body {
    position: relative;
    margin:0;
    padding:0;
    color: white;
    font-family: "Share Tech", sans-serif;
    font-size: 25px;
    text-align: center;
}

.description {
    font-size: 25px;
    text-align: center;
    color: white;
    margin-top: -30px;
    margin-bottom: 50px;
}

.button1 {
    color: rgb(255, 255, 0); 
    margin-top: 50px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.button2 {
    color: rgb(255, 255, 0);
    margin-top: 50px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: wavy;
    background-color: rgb(25, 51, 97);
    color: rgb(255, 255, 0);
}